/* You can add global styles to this file, and also import other style files */

:root {
    // the main colours for the app
    --color-style-main: #a8dadc;
    --color-style-light: #f1faee;
    --color-style-dark: #457b9d;
    --color-style-verydark: #1d3557;
    --color-style-juxtapose: #e63946;

    // the main colours for the fonts
    --color-font-main: rgba(0, 0, 0, .9);
    --color-test: blue;
}

*, *::before, *::after {
    box-sizing: inherit;
    border: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;

    @media screen and (max-width: 1200px) { font-size: 50.0%; }
    @media screen and (max-width: 1015px) { font-size: 37.5%; }
}

body {
    // max-width: 120rem;
    position: relative;
    max-width: 95vw;
    margin: 0 auto;
    background-image:   linear-gradient(to top left, transparent, var(--color-style-juxtapose)),
    linear-gradient(to bottom right, var(--color-style-light), var(--color-style-dark));
    min-height: 100vh;
}

.component-intro {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
    letter-spacing: .15rem;

    &__title {
        font-family: 'Bitter', serif;
        font-size: 2.8rem;
        font-weight: bold;
        margin: 0 2rem 0 2rem;
    }

    &__description {
        flex: 1;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        hyphens: auto;

        p:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    ul > li {
        line-height: 2rem;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
        gap: .5rem;
        padding: 0 2rem;

        &--button {
            padding: .5rem 1rem;
            border-radius: 1rem;
            background-color: var(--color-style-main);
            transition: all .2s;
            border: .2rem solid transparent;
            text-align: center;
            font-size: 1.4rem;
            box-shadow: 0 .2rem .4rem rgba(black, .3);
            min-width: 15rem;

            &:hover {
                border: .2rem solid white;
                color: white;
                background-color: var(--color-style-juxtapose);
                cursor: pointer;
                box-shadow: 0 .4rem .6rem rgba(black, .6);
                transform: translateY(-.2rem);
            }
        }
    }
}

.link-active {
    border: 2px solid var(--color-style-light);
    background-color: var(--color-style-juxtapose) !important;
    color: var(--color-style-light) !important;

    &__menu {
        border-top: none;
    }
}

.divider-line {
    width: 100%;
    background-image: linear-gradient(  to right,
                                        transparent 0%,
                                        var(--color-style-dark) 50%,
                                        transparent 100%);
    background-size: cover;
    background-repeat: no-repeat;

    &__thin { height: .1rem; }
    &__medium { height: .2rem; }
    &__thick { height: .3rem; }
}

.u__margin-top--small { margin-top: .5rem; }
.u__margin-top--medium { margin-top: 1rem; }
.u__margin-top--large { margin-top: 2rem; }
.u__margin-bottom--small { margin-bottom: .5rem; }
.u__margin-bottom--medium { margin-bottom: 1rem; }
.u__margin-bottom--large { margin-bottom: 2rem; }

.tooltipped {
    position: relative;

    &:hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }
}

.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    background-color: grey;
    left: -5rem;
    top: 110%;
    width: 20rem;
    border-radius: 1rem;
    opacity: 0;
    transition: all .2s;
    text-align: center;
    z-index: 100000 !important;

    &__generic {
        position: relative;
        width: 2rem;
        height: 2rem;
        font-size: inherit;
        border-radius: 50%;
        background-color: var(--color-style-main);

        &::after {
            content: "?";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 6rem;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    font-size: 1.6rem;
    font-weight: bold;
}


.input__checkbox {
    visibility: hidden;
    display: none;

    &--label {
        font-size: 1.4rem;

        &::before {
            content: "\2718";
            color: red;
            background-color: var(--color-style-main);
            padding: .3rem 0.9rem;
            border-radius: .5rem;
            margin-right: 1.5rem;
            border: .2rem solid var(--color-style-juxtapose);
            transition: all .2s;
        }

        &:hover {
            cursor: pointer;
        }

    }

    &:checked {
        + .input__checkbox--label {
            &::before {
                content: "\2714";
                color: greenyellow;
                background-color: var(--color-style-juxtapose);
                border: .2rem solid white;
            }
        }
    }
}

.input__button {
    padding: .5rem 1rem;
    font-size: 1.4rem;
    background-color: var(--color-style-main);
    box-shadow: 0 .2rem .4rem rgba(black, .4);
    transition: all .2s;
    border-radius: 1rem;

    &:hover {
        &:not(:disabled) {
            cursor: pointer;
            color: white;
            transform: translateY(-.3rem);
            background-color: var(--color-style-juxtapose);
            box-shadow: 0 .4rem .8rem rgba(black, .7);
          }
        }

        &:active {
          &:not(:disabled) {
            transform: translateY(-.1rem);
            box-shadow: 0 .3rem .6rem rgba(black, .8);
      }
    }
}

.input__text {
    padding: .8rem 1.4rem;
    background-color: white;
    border-radius: 1rem 2rem;
    box-shadow: 0 .2rem .4rem rgba(black, .4);
    font-size: 1.4rem;
    background-color: rgba(white, .3);
    width: 100%;

    &--short {
      width: 50%;
    }
}



.opacity__0 { opacity: 0; }
.opacity__1 { opacity: 1 !important; }
.visible__hidden { visibility: hidden; }
.visible__visible { visibility: visible; }

.gradient {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__1 {
        opacity: 0;
        animation: opacityChange 4s infinite alternate;
        background-image: linear-gradient(to bottom right, var(--color-style-juxtapose), var(--color-style-main));
    }
    &__2 {
        opacity: 1;
        animation: opacityChange 3s infinite alternate;
        background-image: linear-gradient(to top left, var(--color-style-juxtapose), var(--color-style-main));
    }
    &__3 {
        opacity: .5;
        animation: opacityChange 7s infinite alternate;
        background-image: linear-gradient(to right, var(--color-style-juxtapose), var(--color-style-main));
    }
}

@keyframes opacityChange {
    50% { opacity: 1 }
    100% { opacity: 0 }
}
