/* You can add global styles to this file, and also import other style files */

:root {
    // the main colours for the app
    --color-style-main: #a8dadc;
    --color-style-light: #f1faee;
    --color-style-dark: #457b9d;
    --color-style-verydark: #1d3557;
    --color-style-juxtapose: #e63946;

    // the main colours for the fonts
    --color-font-main: rgba(0, 0, 0, .9); 
    --color-test: blue;  
}

*, *::before, *::after {
    box-sizing: inherit;
    border: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 120rem;
    margin: 0 auto;
    background-image:   linear-gradient(to top left, transparent, var(--color-style-juxtapose)),
                        linear-gradient(to bottom right, var(--color-style-light), var(--color-style-dark));
    min-height: 100vh;
}

.component-intro {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    &__title {
        font-size: 3rem;
        letter-spacing: .1rem;
        margin: 0 2rem;
    }

    &__description {
        flex: 1;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: .15rem;
        hyphens: auto;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: .5rem;
        padding: 0 2rem;

        &--button {
            padding: .5rem 1rem;
            border-radius: 1rem;
            background-color: var(--color-style-main);
            transition: all .2s;
            border: .2rem solid transparent;
            text-align: center;
            font-size: 1.4rem;
            
            &:hover {
                border: .2rem solid white;
                color: white;
                background-color: var(--color-style-juxtapose);
                cursor: pointer;
                box-shadow: 0 .2rem .4rem rgba(black, .5);
                transform: translateY(-.2rem);
            }
        }
    }
}

.link-active {
    border: 2px solid var(--color-style-light);
    background-color: var(--color-style-juxtapose) !important;
    color: var(--color-style-light) !important;
}

.divider-line {
    width: 100%;
    background-image: linear-gradient(  to right, 
                                        transparent 0%,
                                        var(--color-style-dark) 50%, 
                                        transparent 100%);
    background-size: cover;
    background-repeat: no-repeat;

    &__thin { height: .1rem; }
    &__medium { height: .2rem; }
    &__thick { height: .3rem; }
}

.u__margin-top--small { margin-top: .5rem; }
.u__margin-top--medium { margin-top: 1rem; }
.u__margin-top--large { margin-top: 2rem; }
.u__margin-bottom--small { margin-bottom: .5rem; }
.u__margin-bottom--medium { margin-bottom: 1rem; }
.u__margin-bottom--large { margin-bottom: 2rem; }

.tooltipped {
    position: relative;

    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
}

.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    background-color: grey;
    left: -5rem;
    top: 110%;
    width: 20rem;
    border-radius: 1rem;
    opacity: 0;
    transition: all .2s;
    text-align: center;
    z-index: 99;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}