// any empty divs (no sentences) geta  placeholder text
[contentEditable]:empty:not(:focus)::before {
    content:attr(data-placeholder);
    color: rgba(black, .3);
}

.admin-sentences {

    display: flex;
    position: relative;
    
    &__level {
        
        flex: 1;
        border-radius: 1rem;

        &--base { 
            background-color: darken(#457b9d, 10%); 
            flex: 0 0 5rem; 
            align-self: stretch;

            display: flex; 
            flex-direction: column;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        &--0 { background-color: lighten(#457b9d, 0);}
        &--1 { background-color: lighten(#457b9d, 10%);}
        &--2 { background-color: lighten(#457b9d, 20%);}
        &--3 { background-color: lighten(#457b9d, 30%);}
        &--4 { background-color: lighten(#457b9d, 40%);}
    }

    &__stem-phrase {
        background-color: var(--color-style-main);
        font-size: 1.4rem;
        letter-spacing: .1rem;
        padding: .5rem .5rem;
        margin: .3rem;
        border-radius: 1rem;
        
        display: flex;
        flex-direction: column;

        &--name {
            font-weight: bold;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            background-color: rgba(white, .4);
            border-radius: 1rem;
            padding-left: 1rem;
        }
        
        &--route {
            background-color: rgba(red, .4);
        }

        &--icons {
            display: flex;
            justify-content: flex-start;
            padding: .6rem .3rem;
        }

        &--icon {
            padding: .2rem .6rem;
            font-size: 1rem;
            transition: all .2s;

            &:hover {
                cursor: pointer;
                background-color: rgba(white, .4);
            }

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }

        &--deselected {
            border: .1rem solid rgba(gray, .7); 
            color: rgba(gray, .7); 
        }

        &--startpoint, &--endpoint, &--tests {
            font-weight: bold;
        }

        &--startpoint { border: .1rem solid green; color: green; }
        &--endpoint { border: .1rem solid black; color: black; }
        &--tests { border: .1rem solid blue; color: blue; }
        
        &--hand {
            font-size: 3rem;
            margin-left: 1rem;
            margin-top: -1.3rem;
            padding-top: .6rem;
            animation: pointRight 1.5s ease-in-out infinite;    
        }

        &--sentence {
            font-style: italic;
            font-size: 1.3rem;
            margin: 0 .5rem;
            margin-top: .5rem;

            &:hover {
                cursor: text;
            }
        }

        &--select {
            padding: .5rem 1rem;
            border-radius: 1rem;
        }

        &--selectable {
            &:hover {
                cursor: pointer;
            }
        }

        &--editable {
            &:hover {
                cursor: text;
            }
        }

        transition: all .2s;
        
        &:hover {
            background-color: var(--color-style-juxtapose);
        }
    }

    &__controls {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        &--subdivision {
            display: flex;
        }
    }

    &__save-control {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        & > * {
            padding: .8rem 1.6rem;
        }
    }

    &__control {
        
        &--checkbox {
            display: none;
        }

        &--checkbox:checked + &--label {
            &::before {
                content: "\2713";
                background-color: var(--color-style-dark);
            }
        }

        &--checkbox:not(:checked) + &--label {
            &::before {
                content: "\00D7";
                background-color: var(--color-style-juxtapose);
            }
        }

        &--label {
            font-size: 1.4rem;
            transition: all .2s;
            margin-left: -1.5rem;
            border-bottom: 1px dotted transparent;
            padding-bottom: .3rem;
            
            &:hover {
                cursor: pointer;
                border-bottom: 1px dotted black;
                
                &::before {
                    border-color: var(--color-style-juxtapose);
                    font-weight: bold;
                }
            }

            &::before {
                padding: 0 1rem;
                border: .2rem solid black;
                margin-right: 1rem;
                transition: all .2s;
            }

        }
    }

    &__save-button {
        font-size: 1.6rem;
        border-radius: 1rem;
        background-color: var(--color-style-dark);
        transition: all .2s;
        border: .2rem transparent solid;
        padding: .6rem 2rem;

        &:hover {
            cursor: pointer;
            background-color: var(--color-style-juxtapose);
            border: .2rem white solid;
            color: white;
        }
    }
}

@keyframes pointRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(1rem); }
    100% { transform: translateX(0); }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}