.groups {
    position: relative;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    min-height: 8rem;

    &__load-failure {
        padding: 2rem;
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
        color: red;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            letter-spacing: 0.1rem;
            font-weight: bold;
        }
    }
}

.group {
    display: grid;
    grid-template-columns: 1fr max-content 2rem;

    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: var(--color-style-dark);
    overflow: none;

    &:first-of-type { border-radius: 1rem 1rem 0 0; }
    &:last-of-type { border-radius: 0 0 1rem 1rem; }
    
    &__name {
        grid-column: 1 / 2;
        font-weight: bold;
    }
    
    &__student-count {
        grid-column: 2 / 3;
        margin-right: 4rem;
    }
    
    &__dropdown-button {
        grid-column: 3 / 4;
        padding: 1rem;
        margin: -1rem -2rem;
        text-align: center;
        background-color: var(--color-style-main);
        transition: all .2s;

        &:hover {
            background-color: var(--color-style-juxtapose);
            cursor: pointer;
        }
    }

    &__data {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 1.4rem;
        border-top: 2px dashed rgba($color: #000000, $alpha: 0.2);

        &--table {
            width: 100%;
            border-collapse: collapse;

            tr {
                opacity: 0;
                animation: fadeIn .3s ease-in 0s 1 forwards;
            }

            tbody tr, thead tr {
                td {
                    &:nth-of-type(odd) {
                        background-color: rgba(white, .2);
                    }
                }
            }
        }

        &--edited {
            font-weight: bold;
            background-color: red;
            animation: glow 2s linear 0 1 normal;
        }
        
        &--row {
            transition: all .2s;
            
            &:hover {
                background-color: var(--color-style-juxtapose);
            }
        }
        
        &--header {
            font-weight: bold;
            background-color: green;
            background-color: var(--color-style-dark);
            color: white;     
        }
        
        &--data {
            background-color: var(--color-style-main);            

        }

        &--cell {
            padding: .5rem 1rem;
            transition: all .2s;

            &--header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &:last-of-type {
                display: flex;
                justify-content: flex-end;
            }

            &:focus {
                background-color: rgba(white, .5);
                font-weight: bold;
                animation: glow 2s ease-in-out 0 infinite;
            }

            &:visited { 
                background-color: red;
            }
        }
        
        &--buttons {

            padding: .1rem .5rem;
            font-size: 1.6rem;
            transition: all .2s;
            border: .2rem solid transparent;
            width: 3rem;
            text-align: center;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                border: .2rem solid white;
                filter: brightness(130%);
            }

            &-remove {
                background-color: red;
            }

            &-addcol {
                background-color: green;
            }
        }
    }

    input {
        display: none;
    }

    input:checked ~ .group__data {
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    &__data {
        grid-column: 1 / -1;
        visibility: hidden;
        opacity: 0;
        display: none;

        flex-direction: column;
        margin-top: 2rem;
    }


}