.groups {
    position: relative;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    min-height: 8rem;
    box-shadow: 0 .2rem .4rem rgba(black, .5);

    &__load-failure {
        padding: 2rem;
        text-align: center;
        width: 100%;
        font-size: 1.6rem;
        color: red;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            letter-spacing: 0.1rem;
            font-weight: bold;
        }
    }
}

.group {
    display: grid;
    grid-template-columns: 1fr minmax(11rem, max-content) max-content 2rem;
    align-items: baseline;

    padding: .5rem 2rem;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, 
                                            var(--color-style-main) 0%, 
                                            var(--color-style-dark) 30%);
    overflow: none;

    &:first-of-type { 
        border-radius: 1rem 1rem 0 0; 
        
        .group__dropdown-button {
            border-radius: 0 1rem 0 0;
        }
    }
    &:last-of-type { 
        border-radius: 0 0 1rem 1rem; 
        
        .group__dropdown-button {
            border-radius: 0 0 1rem 0;
        }
    }
    
    &__name {
        grid-column: 1 / 2;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        &--name {
            padding-right: 1rem;
        }
    }
    
    &__student-count {
        grid-column: 2 / 3;
        margin: 0 1.5rem;
        font-size: 1.4rem;
    }

    &__delete {
        grid-column: 3 / 4;
        margin-right: 3rem;
        display: flex;
    }
    
    &__dropdown-button {
        grid-column: 4 / 5;
        padding: 1rem;
        margin: -.5rem -2rem;
        text-align: center;
        background-image: linear-gradient(to right, var(--color-style-dark) 10%, transparent 50%);
        background-color: var(--color-style-main);
        transition: all .2s;
        align-self: stretch;

        div {
            transform: translateX(.5rem);
        }

        &:hover {
            background-color: var(--color-style-juxtapose);
            cursor: pointer;
        }
    }

    &__data {
        margin-top: 0;
        padding-top: .5rem;
        font-size: 1.4rem;

        &--table {
            width: 100%;
            border-collapse: collapse;
            position: relative;

            tr {
                animation: fadeIn .3s ease-in 0s 1 forwards;
            }

            tbody tr, thead tr {
                td, th {
                    &:nth-of-type(odd) {
                        background-color: rgba(white, .2);
                    }
                }
            }

            th {
                position: sticky;
                top: 0;
            }
        }

        &--edited {
            font-weight: bold;
            background-color: red;
            animation: glow 2s linear 0 1 normal;
        }
        
        &--row {
            transition: all .2s;
            
            &:hover {
                background-color: var(--color-style-juxtapose);
            }
        }
        
        &--header {
            font-weight: bold;
            background-color: green;
            background-color: var(--color-style-dark);
            color: white;     
        }
        
        &--data {
            background-color: var(--color-style-main);            

        }

        &--cell {
            padding: .5rem 1rem;
            transition: all .2s;

            &--header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &:last-of-type {
                display: flex;
                justify-content: flex-end;
            }

            &:focus {
                background-color: rgba(white, .5);
                font-weight: bold;
                animation: glow 2s ease-in-out 0 infinite;
            }

            &:visited { 
                background-color: red;
            }
        }
        
        &--buttons {

            padding: .1rem .5rem;
            font-size: 1.6rem;
            transition: all .2s;
            border: .2rem solid transparent;
            text-align: center;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                border: .2rem solid white;
                filter: brightness(130%);
            }
            
            &-remove {
                width: 3rem;
                background-color: red;
            }

            &-delete {
                width: auto;
                font-size: 1.4rem;
                background-color: red;
                padding: .5rem 1rem;

                &:not(:last-of-type) {
                    margin-right: .5rem;
                }
            }

            &--disabled {
                background-color: rgba(red, .4);

                &:hover {
                    cursor: default;
                    border: .2rem solid transparent;
                    filter: brightness(100%);
                }
            }

            &-addcol {
                background-color: green;
            }
        }
    }

    &__buttons {
        padding-top: 1rem;

        &--left { text-align: left; }
        &--right { text-align: right; }
    }

    &__button {

        &--button {
            font-size: 1.4rem;
            width: auto;
            padding: .5rem 1rem;
            border-radius: 1rem;
            transition: all .2s;
            border: .2rem solid transparent;
            margin-right: .5rem;
        }

        &--hidden { display: none; }
        &--update { width: 14rem; }

        &--enabled {
            &:hover {
                cursor: pointer;
                background-color: var(--color-style-juxtapose);
                color: white;
                border: .2rem solid white;
                box-shadow: 0 .3rem .6rem rgba(black, .3);
            }
        }

        &--updated {
            background-color: rgba(green, .5);
        }
    }

    input {
        display: none;
    }

    input:checked ~ .group__data {
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    input:checked ~ .group__dropdown-button {
        border-bottom-right-radius: 0;
    }

    &__data {
        grid-column: 1 / -1;
        visibility: hidden;
        opacity: 0;
        display: none;

        flex-direction: column;
        margin-top: 2rem;
    }


}