.users-search {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &__text {
        padding: .5rem 1rem;
        font-size: 1.6rem;
        margin-right: 1rem;
        font-weight: bold;
    }
    
    &__search {
        border-radius: 1rem;
        font-size: 1.6rem;
        padding: .5rem 1rem;
        padding-right: 8rem;
        letter-spacing: .2rem;
        width: 30rem;
    }

    &__button {
        background-color: transparent;
        margin-left: -7rem;

        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.users-list {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;

    &__header, &__user {
        display: flex;
        align-items: center;
        padding: .2rem;
    }
    
    &__name {
        flex: 1;
        padding: .5rem 1rem;
    }
    
    &__email {
        flex: 1;
        padding: .5rem 1rem;
    }
    
    &__controls {
        text-align: center;
        padding: .5rem 1rem;
    }

    &__header {
        border-radius: 1rem 1rem 0 0;
        background-color: grey;
        font-weight: bold;
    }
    
    &__user {
        background-color: var(--color-style-dark);
        transition: all .2s;

        &:last-of-type {
            border-radius: 0 0 1rem 1rem;
        }

        &:hover {
            background-color: var(--color-style-juxtapose);
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex: 1;
    }

    &__control {
        padding: .5rem 1rem;
        border-radius: 1rem;
        transition: all .2s;
        background-color: var(--color-style-main);

        &:not(:last-child) {
            margin-right: .5rem;
        }

        &:hover {
            color: var(--color-style-main);
            background-color: var(--color-style-dark);
            cursor: pointer;
        }
    }
}

