.reports {

    &__controls-top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 1rem;
        padding: 1rem 2rem;
        width: 34rem;
        min-height: 9.4rem;
    }

    &__load-dropdown {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;

        &--element {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }

    &__header-buttons {
        display: flex;
        justify-content: flex-end;
        margin-right: .5rem;
    }

    &__input {
        padding: .8rem 1rem;
        border-radius: 1rem;

        &--select {
            align-items: center;
            max-width: 17rem;
        }

        &--text {
            letter-spacing: .3rem;
        }
    }

    &__button {
        padding: .8rem 1.6rem;
        border-radius: 1rem;
        transition: all .2s;
        border: .2rem solid transparent;
        text-align: center;
        font-size: 1.4rem;
        background-color: var(--color-style-main);

        &:not(:last-of-type) {
            margin-right: .5rem;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-style-juxtapose);
            color: white;
            border: .2rem solid white;
            box-shadow: 0 .3rem .6rem rgba(black, .3);
        }
    }

}