.flex-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    // transform: translateY(-.3rem); suddenly stopped needing this for some reason?

    font-size: 2rem;

    // The main menu and its items.
    &__menu {

        font-size: 1.6rem;
        padding-left: 5rem;
        display: flex;

        &--item {
            width: 10rem;
            position: relative;

            background-color: var(--color-style-main);
            padding: 0 2rem 1.4rem 2rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            color: var(--color-style-dark);
            border-radius: 0 0 1rem 1rem;
            transform: translateY(-1rem);
            text-decoration: none;
            transition: all .2s;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -37%);
                width: 3rem;
                height: 3rem;

            }

            img, span { transition: all .3s .2s; }

            span {
                position: absolute;
                top: 50%;
                left: -50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
            }

            &:hover {
                background-color: var(--color-style-juxtapose);
                color: var(--color-style-light);
                cursor: pointer;
                transform: translateY(0);
                box-shadow: 0 .3rem .6rem rgba(black, .5);

                span {
                    left: 50%;
                }

                img {
                    left: 150%;
                }
            }

            &:not(:last-child) {
                margin-right: .5rem;
            }

            &:nth-of-type(7) {
                margin-left: 2rem;
            }

            &:nth-of-type(n+7) {
                background-color: var(--color-style-dark);
                color: white;

                img {
                    filter: invert(100%);
                }
            }
        }
    }

    &__logo {
        padding: .5rem 5rem 0 5rem;
        display: flex;
        align-items: center;
        text-align: center;

        &--image {
            height: 6rem;
            transition: all .2s;
            animation: pulsate 1.5s ease-in-out 0s 2 backwards;

            &:hover {
                cursor: pointer;
                filter: drop-shadow(0 .2rem .4rem rgba(black, .5));
                transform: scale(1.1);
            }
        }
    }

    &__login {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 7rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        margin-bottom: -1rem;
        transition: all .2s;

        &-text {
            margin-right: 2rem;

            &:last-of-type {
                font-weight: bold;
                margin: 0 3rem;
            }
        }

        &--input {
            padding: .8rem 1rem;
            letter-spacing: .2rem;
            border-radius: 1rem;
            margin-right: 1rem;
            width: 15rem;
        }

        button {
            border-radius: 1rem;
            background-color: var(--color-style-main);
            border: .2rem solid transparent;
            padding: .7rem 1.4rem;
            font-size: 1.4rem;
            transition: all .2s;
            box-shadow: 0 .15rem .3rem rgba(black, .5);

            &:not(:disabled) {
                &:hover {
                    cursor: pointer;
                    background-color: var(--color-style-juxtapose);
                    border: .2rem solid white;
                    transform: translateY(-.3rem);
                    box-shadow: 0 .3rem .6rem black;
                    color: white;
                }
            }
        }

        &--google {
            transition: all .2s;
            &:hover {
                filter: brightness(1.2);
                transform: translateY(-.3rem);
                cursor: pointer;
                box-shadow: 0 .2rem .4rem rgba(black, .5);
            }
        }

        &-error {
            position: absolute;
            top: 2rem;
            right: 2rem;
            width: 30rem;
            border-radius: 1rem;
            border: .2rem solid transparent;
            background-color: var(--color-style-main);
            padding: 1rem 2rem;
            transition: all .2s;
            box-shadow: 0 .2rem .4rem rgba(black, .5);
            font-size: 1.6rem;

            &:hover {
                cursor: pointer;
                border: .2rem solid transparent;
                background-color: var(--color-style-juxtapose);
                box-shadow: 0 .4rem .6rem rgba(black, 1);
                transform: translateY(-.3rem);
            }

        }


        &:hover {
            background-color: var(--color-style-juxtapose);
            border-radius: 1rem;
            margin-top: 1rem;
            // margin-bottom: 1rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
            box-shadow: 0 .3rem .6rem rgba(black, .4);
        }
    }


    &__newinput {

        position: relative;
        width: 20rem;
        height: 3rem;
        font-size: 1.6rem;

        &:not(:last-of-type) {
            margin-right: 5rem;
        }

        &--input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: .2rem solid var(--color-style-juxtapose);
            border-radius: 1rem;
            padding: 1.5rem;
            padding-right: 6rem;
            background-color: rgba(white, .8);
            transition: all .2s;
            letter-spacing: .15rem;

            &:hover {
                border-color: var(--color-style-main);
            }

            &:focus {
                border-color: var(--color-style-main);
                outline: none;
            }

            &:not(:placeholder-shown) {
                border-color: var(--color-style-main);
            }
        }

        &--label {
            position: absolute;
            left: 1rem;
            padding: 1.5rem .5rem;
            color: black;
            cursor: text;
            transition: all .2s ease-in;
            border-radius: 0 1rem 1rem 0;
            border: .2rem solid transparent;
            height: 100%;
            display: flex;
            align-items: center;
            width: 9.5rem;
        }
    }

    &__newinput--input:focus ~ .header__newinput--label,
    &__newinput--input:not(:placeholder-shown) ~ .header__newinput--label,
    &__newinput--input:-webkit-autofill ~ .header__newinput--label {
        left: 15rem;
        background-color: var(--color-style-juxtapose);
        border: .2rem solid var(--color-style-main);
        border-left: none;
        color: white;
        justify-content: center;
    }



    &__password-forgot {
        text-decoration: underline;
        color: black;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            color: var(--color-style-main);
        }
    }
}

main {
    flex: 1;
    padding: 2rem 5rem;
}

footer {
    flex-basis: 5rem;
    padding: 2rem 5rem;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    letter-spacing: .1rem;

    p {
        &:not(:last-of-type) {
            margin-bottom: .3rem;
        }
    }

    a {
        &:not(:last-of-type) {
            margin-right: 4rem;
        }
    }
}

.loadingroute {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(gray, .7);
    z-index: 1000000;

    &__place {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        animation: pulsateCenter 1.5s ease-in-out 0s infinite backwards;

        width: 30rem;
        height: 5rem;

        background-color: var(--color-style-juxtapose);
        border-radius: 1rem 2rem;
        border: .2rem solid white;
        box-shadow: 0 .4rem .6rem rgba(black, .6);

        overflow: hidden;

        &::after {
            content: "Loading, wont be a sec...";
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            width: 100%;
            background-image: linear-gradient(to right, var(--color-style-dark) 0%, var(--color-style-main) calc(50% - .3rem), white calc(50% - .3rem), white 50%, var(--color-style-juxtapose) 50%, black 100%);
            background-position-x: -30rem;
            background-repeat: no-repeat;
            background-size: 200%;
            background-clip: text;
            color: transparent;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.2rem;
            font-weight: bold;

            animation: moveBackgroundRibbon 5s ease-in-out 0s infinite;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right, white 0%, white 100%);
            background-position-x: -1rem;
            background-size: .3rem;
            background-repeat: no-repeat;
            animation: moveBackgroundRibbon2 5s ease-in-out 0s infinite;
        }
    }
}

@keyframes moveBackgroundRibbon {
    0% { background-position-x: -30rem;}
    50% { background-position-x: 0rem;}
    100% { background-position-x: -30rem;}
}
@keyframes moveBackgroundRibbon2 {
    0% { background-position-x: -1rem;}
    50% { background-position-x: 30rem;}
    100% { background-position-x: -1rem;}
}

@keyframes pulsate {
    0% { transform: scale(1);}
    20% { transform: scale(1.1); filter: drop-shadow(0 .2rem .4rem rgba(black, .5)); }
    30% { transform: scale(1);}
    50% { transform: scale(1.1); filter: drop-shadow(0 .2rem .4rem rgba(black, .5));}
    60% { transform: scale(1);}
    100% { transform: scale(1);}
}

@keyframes pulsateCenter {
    0% { transform: scale(1); }
    20% { transform: scale(1.1);  }
    30% { transform: scale(1); }
    50% { transform: scale(1.1); }
    60% { transform: scale(1); }
    100% { transform: scale(1); }
}
