h1 {
    margin-bottom: 2rem;

    &:not(:first-of-type) {
        margin-top: 2rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: .8rem;
}

ul > li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}