.intro {

    position: relative;
    display: grid;
    grid-template: max-content max-content minmax(20rem, 1fr) / 1fr 1fr;
    margin: 0 8rem;
    overflow-x: hidden;

    &__code {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 5rem;
        font-weight: bold;
        background-color: rgba(200, 200, 200, .8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        text-align: center;
        padding: 10rem 10rem;
        opacity: 0;
        animation:  opacityUp 1s ease-in 0s forwards,
                    opacityDownAndVanish 1s ease-out 3s forwards;
    }

    &__header {
        font-family: 'Bitter', serif;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-size: 10rem;
        font-weight: bolder;
        margin-right: 2rem;
        // text-transform: uppercase;
        transform: translateX(-100vw);
        animation: inFromLeft 2s 1 forwards;
    }
    
    &__subtext {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        position: relative;
        font-size: 3rem;
        transform: translateX(100vw);
        animation:  inFromRight 2s .2s 1 forwards;
    }

    &__join-buttons {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        justify-self: left;
        align-self: center;
        opacity: 0;
        animation: opacityUp 2s 1s 1 forwards;
    }

    &__video {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
        background-color:  transparent;
        padding: 2rem;
        opacity: 0;
        animation: opacityUp 2s 1s 1 forwards;
        
        video {
            height: 24vw;
            border: 1px solid black;
            box-shadow: 0 .4rem .8rem rgba(black, .5);
            border-radius: 1rem;
        }
    }

    &__highlight {
        font-weight: bold;
    }

    &__button {

        border-radius: 1rem 2rem;
        background-color: var(--color-style-main);
        border: .2rem solid transparent;
        padding: 2rem 4rem;
        font-size: 2rem;
        font-weight: bold;
        transition: all .2s;
        box-shadow: .3rem .6rem rgba(black, .5);
        
        &:hover {
            cursor: pointer;
            background-color: var(--color-style-juxtapose);
            border: .2rem solid white;
            transform: translateY(-.5rem);
            box-shadow: .6rem 1.2rem black;
            color: white;
        }

        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }

}

@keyframes inFromLeft {
    100% { transform: translateX(0);}
}
@keyframes inFromRight {
    100% { transform: translateX(0);}
}
@keyframes opacityUp {
    100% { opacity: 1; }
}
@keyframes opacityDownAndVanish {
    100% { opacity: 0; visibility: hidden; }
}
