.auth {
    position: relative;
    padding: 2rem 5rem;

    &__form {
        display: grid;
        row-gap: .8rem;
        grid-template-columns: 15rem 30rem;
    }

    &__label {
        padding: .5rem 1rem;
        font-size: 2rem;
        letter-spacing: .2rem;
    }

    &__input {
        border-radius: 1rem;
        font-size: 1.6rem;
        padding-left: 1rem;
        letter-spacing: .2rem;

        &:hover {

        }
    }

    &__buttons {
        grid-column: 2 / span 1;
    }

    &__button {
        font-size: 2rem;
        border-radius: 1rem;
        text-align: center;
        padding: .5rem 2rem;
        margin-top: 1rem;
        background-color: var(--color-style-main);
        border: .2rem solid transparent;
        transition: all .2s;

        &:not(:last-child) {
            margin-right: 1rem;
        }
        
        &:hover {
            &:enabled {
                cursor: pointer;
                border: .2rem solid white;
                background-color: var(--color-style-juxtapose);
                transform: translateY(-.2rem);
                box-shadow: 0 .2rem .4rem rgba(black, .5);
            }
        }
    }

    &__signup-links {
        grid-column: 2 / span 1;
        font-size: 2rem;
    }

    &__error {
        padding: 1rem 2rem;
        background-color: var(--color-style-juxtapose);
        font-size: 2rem;
        color: var(--color-style-light);
        margin-bottom: 2rem;
        border-radius: 1rem;
        border: 2px solid var(--color-style-light);
        cursor: pointer;
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}