.auth {
    position: relative;
    padding: 2rem 5rem;

    &__split {
        display: flex;
        position: relative;
        height: 100%;
    }

    &__tandc {
        position: relative;
        padding-left: 1rem;
        padding-right: .5rem;
        opacity: 0;
        transition: all .2s;
        overflow: hidden;
        max-height: 0;
    }

    &__tandc--display {
        opacity: 1;
        max-height: 100%;
        // overflow: auto;
    }

    &__terms-button {
        font-size: 1.4rem;
        color: blue;
        text-decoration: underline;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            color: white;
        }
    }

    &__form {
        display: grid;
        row-gap: .8rem;
        grid-template-columns: 15rem 30rem;
        position: sticky;
        top: 5rem;
    }

    &__label {
        padding: .5rem 1rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
    }

    &__input {
        border-radius: 1rem;
        font-size: 1.6rem;
        padding-left: 1rem;
        letter-spacing: .2rem;
    }

    &__buttons {
        grid-column: 2 / span 1;
    }

    &__button {
        font-size: 2rem;
        border-radius: 1rem;
        text-align: center;
        padding: .5rem 2rem;
        margin-top: 1rem;
        background-color: var(--color-style-main);
        border: .2rem solid transparent;
        transition: all .2s;

        &:not(:last-child) {
            margin-right: 1rem;
        }
        
        &:hover {
            &:enabled {
                cursor: pointer;
                border: .2rem solid white;
                background-color: var(--color-style-juxtapose);
                transform: translateY(-.2rem);
                box-shadow: 0 .2rem .4rem rgba(black, .5);
            }
        }
    }

    &__terms {
        grid-column: 2 / span 1;
        margin-top: .5rem;
    }

    &__google {
        transition: all .2s;
        background-image: url(../../../assets/btn_google_signin_light_normal_web.png);
        background-repeat: no-repeat;
        background-color: white;
        opacity: .5;
        width: 19.1rem;
        height: 4.6rem;
        transition: all .2s;

        &:not(:disabled) {
            opacity: 1;
            &:hover {
                filter: brightness(1.2);
                transform: translateY(-.3rem);
                cursor: pointer;
                box-shadow: 0 .2rem .4rem rgba(black, .5);
            }
        }
    }

    &__signup-links {
        grid-column: 2 / span 1;
        font-size: 2rem;
    }

    &__error {
        padding: 1rem 2rem;
        background-color: var(--color-style-juxtapose);
        font-size: 1.6rem;
        color: var(--color-style-light);
        margin-bottom: 2rem;
        border-radius: 1rem;
        border: 2px solid var(--color-style-light);
        cursor: pointer;
    }

    &__or {
        display: flex;
        grid-column: 2 / 3;
        font-size: 1.4rem;
    }
}