.join {

    
    &__tiers {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        margin: auto;
        width: 60rem;
        margin-top: 2rem;
    }
    
    &__spiel {
        font-size: 1.4rem;
        
        q {
            text-align: center;
            display: flex;
            width: 40rem;
            font-style: italic;
            margin: auto;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        border: 2px solid transparent;
        transition: border .2s, transform .5s;
        background-image: linear-gradient(to right, var(--color-style-light), var(--color-style-main), var(--color-style-juxtapose));

        &:hover {
            border: 2px solid black;
            transform: scale(1.1);
        }

        &:first-of-type {
            .join__title { border-radius: 1rem 0 0 0; }
            .join__pro { border-radius: 0 2rem 0 0; }
        }

        &:last-of-type {
            .join__title { border-radius: 0 0 0 2rem; }
            .join__pro { border-radius: 0 0 1rem; }
        }
    }
    
    &__title, &__demo, &__pro {
        display: flex;
        align-items: center;
        padding: 2rem 2rem;
    }
    
    &__demo, &__pro {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 23rem;
    }

    &__title {
        width: 14rem;
        font-weight: bold;
        justify-self: flex-start;
    }

    &__demo {
    }    
    
    &__pro {
    }    
    

}