.join {
    
    &__payment {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        transition: all .2s;
    
        &--shade {
            background-color: rgba(0,0,0,0.3);
            flex: 1;
        }

        &--detail {
            width: 40rem;
            background-color: var(--color-style-juxtapose);
        }
    }

    &__button {
        padding: .8rem 1.6rem;
        border-radius: 1rem;
        transition: all .2s;
        border: .2rem solid transparent;
        text-align: center;
        font-size: 1.4rem;
        background-color: var(--color-style-main);

        &:hover {
            cursor: pointer;
            background-color: var(--color-style-juxtapose);
            color: white;
            border: .2rem solid white;
            box-shadow: 0 .3rem .6rem rgba(black, .3);
        }
    }

    &__bonus-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        justify-content: center;
        column-gap: 3rem;
        margin: 2rem 1rem;
        transition: all .2z;
    }

    &__bonus {

        position: relative;
        transition: filter .6s;
        perspective: 2000px;
        perspective-origin: bottom;
        
        &--title, &--free, &--pro {
            padding: 3rem;
            text-align: center;
            font-size: 1.6rem;
            border-radius: 1rem;
        }
        
        &--highlight {
            font-weight: bold;
            color: orange;
        }
        
        &--title {

            position: relative;
            font-size: 3rem;
            font-weight: bold;
            z-index: 100;
            overflow: hidden;
            border: 5px solid black;
            
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                .join__bonus--description {
                    // visibility: visible;
                    max-height: 100rem;
                    opacity: 1;
                    transition: max-height .5s, opacity .2s .3s;  
                }
            }

            // margin-bottom: 1rem;
            
            &--text {
                position: relative;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                backdrop-filter: blur(2px);
            }
            
            background-image: url(../../../assets/title_images/database.JPG);
            background-color: white;
            
            
            
        }
        
        &--description {
            opacity: 0;
            // visibility: 0;
            height: auto;
            max-height: 0rem;
            font-size: 1.4rem;
            transition: max-height .5s .2s, opacity .2s;
        }

        &--free, &--pro {
            margin: 0.1rem 1rem;
            border: .8rem solid var(--color-style-juxtapose);
        }

        &--free {
            background-color: var(--color-style-main);
            // transform: rotateX(-100deg);
            // animation: 
            //   rotate175deg 2s ease-in 0s 1 forwards,
            //   rotate182degEaseOut 3s ease-in-out 2s 1 forwards;
            z-index: 500;
            // transform-origin: top;
            // margin-bottom: 1rem;

            // &::after {
            //     content: "";
            //     position: absolute;
            //     left: 10%;
            //     bottom: -1.8rem;
            //     width: 80%;
            //     height: 1rem;
            //     border-left: 8px solid orange;
            //     border-right: 8px solid orange;
            // }
        }
        
        &--pro {
            background-color: var(--color-style-dark);
            // transform: rotateX(-90deg);
            animation: 
            //   rotate185deg 2s ease-in 2s 1 forwards, 
            //   rotate175deg 1s ease-in 4s 1 forwards, 
            //   rotate185degEaseOut 5s ease-in-out 5s 1 forwards;
              rotate185degEaseOut 4s ease-in-out 0s 1 forwards;
            z-index: 1;
            transform-origin: top;
            transition: transform .3s;

            &:hover {
                animation: rotate25deg 1s ease-in 0s infinite normal;

                .join__bonus--highlight {
                    filter: brightness(1.2);
                }
            }
        }

        &--hangers {
            height: 1rem;
            border-left: 8px solid orange;
            border-right: 8px solid orange;
            width: 80%;
            margin: 0 auto;
        }

    }

    &__templates {
    }

    &__databases {
        
    }

    &__groups {
    }

    &__reports {
    }

}

@keyframes returnToOrigin {
    100% { transform: translateY(0%); }
}

@keyframes rotate180deg {
    100% { transform: rotateX(0deg); }
}

.display { opacity: 1; visibility: visible;}


.join {

   


}

@keyframes returnToOrigin { 100% { transform: translateY(0%); }}

@keyframes translateStayRotated { 100% { transform: translateY(0%) rotateX(-90deg); }}
@keyframes rotate25deg { 
    0% { transform: rotateX(0deg); }
    25% { transform: rotateX(-25deg); }
    75% { transform: rotateX(25deg); }
    100% { transform: rotateX(0deg); }
}
@keyframes rotate185deg { 100% { transform: rotateX(-25deg); }}

@keyframes rotate185degEaseOut { 
  0% {  transform: rotateX(25deg)  } 
  20% {  transform: rotateX(-20deg)  } 
  40% {  transform: rotateX(15deg)  } 
  60% {  transform: rotateX(-10deg)  } 
  80% {  transform: rotateX(5deg)  } 
  100% {  transform: rotateX(0deg)  } 
}

@keyframes rotate180deg { 100% { transform: rotateX(0deg); }}
