.fourohfour {

    width: 50%;
    font-size: 3rem;
    font-weight: bold;
    padding: 4rem 6rem;
    border: .2rem solid white;
    background-color: var(--color-style-main);
    background-image: linear-gradient(to bottom right, var(--color-style-main) 30%, var(--color-style-dark));
    box-shadow: 0 .4rem .8rem rgba(black, .5);
    margin: 5rem auto;
    text-align: center;
    border-radius: 1rem 2rem;

    display: flex;
    flex-direction: column;

}

.buttons {
    margin-top: 2rem;

}

.input__button {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}