.create-group {
    padding: .5rem 1rem;

    &__group-name {
        font-size: 1.6rem;
        border-radius: 1rem;
        background-color: var(--color-style-juxtapose);
        padding: .5rem 1rem;
        letter-spacing: .15rem;
        width: 61rem;

        display: grid;
        grid-template-columns: max-content 30rem;
        align-items: center;
        row-gap: .5rem;

        &--text {
            font-weight: bold;
            padding: .8rem .5rem;
            display: flex;
            justify-content: space-between;

            & > .tooltipped {
                margin-left: .5rem;
            }
        }
        &--input {
            margin-left: 1rem;

            input {
                border-radius: 1rem;
                padding: .8rem 1.6rem;
                width: 30rem;
                letter-spacing: .15rem;
            }
        }
    }

    &__or {
        align-self: center;
        padding: 1rem 1rem;
        font-size: 2rem;
    }

    &__input {
        display: flex;
        margin-top: 2rem;
    }

    &__datainput {
        width: 100%;
        padding: .5rem 2rem;
        background-color: rgba(white, .3);
        border-radius: 1rem 2rem;
        box-shadow: 0 .2rem .4rem rgba(black, .4);
        font-size: 1.4rem;
        letter-spacing: .3rem;
    }

    &__text {
        flex: 2;
        padding: .5rem 1rem;

        &--header-check {
            font-size: 1.4rem;
            margin-bottom: 1rem;

            input { display: none; }

            input:checked + label::before {
                content: "\2714";
                background-color: var(--color-style-main);
            }

            input:not(:checked) + label::before {
                content: "\2716";
                background-color: var(--color-style-dark);
            }

            label {
                
                &::before {
                    transition: all .2s;
                    border: 1px solid black;
                    padding: 0 .8rem;
                    width: 3rem;
                    margin-right: 1rem;
                    border-radius: .5rem;
                    border: .2rem solid transparent;
                }

                &:hover {
                    cursor: pointer;
                }
                
                &:hover::before {
                    border: .2rem solid white;
                    box-shadow: 0 .2rem .4rem black;
                }
            }
            
        }

        &--textbox {

            &--input {
                width: 100%;
                height: 12vw;
                border-radius: 1rem;
                padding: .5rem;

                &::placeholder {
                    color: rgba(black, .5);
                }
            }
        }

        &--submit {
            margin-top: 1rem;

            display: flex;
            justify-content: space-between;
            align-items: baseline;

            
            &--button {
                width: 17rem;
                padding: .8rem 1.6rem;
                border-radius: 1rem;
                transition: all .2s;
                border: .2rem solid transparent;
                font-size: 1.4rem;

                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
            }
            
            &--enabled {
                &:hover {
                    cursor: pointer;
                    background-color: var(--color-style-juxtapose);
                    color: white;
                    border: .2rem solid white;
                    box-shadow: 0 .3rem .6rem rgba(black, .3);
                }
            }

            &--updated {
                background-color: rgba(green, .5);
            }

            
        }
    }
    
    &__drop {
        flex: 1;
        padding: .5rem 1rem;
        position: relative;
        border: .2rem solid rgba(black, .5);
        border-radius: 1rem;

        &--text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            text-align: center;
            color: rgba(black, .5);
        }
    }

    &__data {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 1.4rem;

        &--table {
            width: 100%;
            border-collapse: collapse;

            tr {
                opacity: 0;
                animation: fadeIn .3s ease-in 0s 1 forwards;
            }

            tbody tr, thead tr {
                td {
                    &:nth-of-type(odd) {
                        background-color: rgba(white, .2);
                    }
                }
            }
        }

        &--edited {
            font-weight: bold;
            background-color: red;
            animation: glow 2s linear 0 1 normal;
        }
        
        &--row {
            transition: all .2s;
            
            &:hover {
                background-color: var(--color-style-juxtapose);
            }
        }
        
        &--header {
            font-weight: bold;
            background-color: green;
            background-color: var(--color-style-dark);
            color: white;     
        }
        
        &--data {
            background-color: var(--color-style-main);            

        }

        &--cell {
            padding: .5rem 1rem;
            transition: all .2s;

            &--header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &:last-of-type {
                display: flex;
                justify-content: flex-end;
            }

            &:focus {
                background-color: rgba(white, .5);
                font-weight: bold;
                animation: glow 2s ease-in-out 0 infinite;
            }

            &:visited { 
                background-color: red;
            }
        }
        
        &--buttons {

            padding: .1rem .5rem;
            font-size: 1.6rem;
            transition: all .2s;
            border: .2rem solid transparent;
            width: 3rem;
            text-align: center;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                border: .2rem solid white;
                filter: brightness(130%);
            }

            &-remove {
                background-color: red;
            }

            &-addcol {
                background-color: green;
            }
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        margin-top: 2rem;
        padding: 1rem 1rem;
        border-top: .2rem dashed rgba(black, .3);
        border-bottom: .2rem dashed rgba(black, .3);

        span {
            font-weight: bold;
        }
    }

    &__limiter-button {

        font-size: 1.4rem;
        text-align: center;
        width: 20rem;
        box-shadow: 0 .2rem .4rem rgba(black, .4);
        background-color: var(--color-style-main);
        transition: all .2s;
        padding: .8rem 1.6rem;
        border: .2rem solid transparent;
        
        &:hover, &--selected {
            cursor: pointer;
            color: white;
            border: .2rem solid white;
            box-shadow: 0 .2rem .4rem rgba(black, .7);
            background-color: var(--color-style-juxtapose);
        }

        &:first-of-type { border-radius: 1rem 0 0 1rem; }
        &:last-of-type { border-radius: 0 1rem 1rem 0; margin-right: 2rem; }
    }
}

@keyframes fadeIn {
    100% { opacity: 1; }
}

@keyframes glow {
    20% { background-color: rgba(white, .5) }
    40% { background-color: rgba(white, 1) }
    60% { background-color: rgba(white, .5) }
    80% { background-color: rgba(white, 1) }
    100% { background-color: rgba(white, .5) }
}

// tooltip overrides
.tooltip {
    left: 100%;
    top: 50%;
}