// any empty divs (no sentences) geta  placeholder text
[contenteditable]:empty:not(:focus)::before {
    content:attr(data-placeholder);
    color: rgba(black, .3);
}

.sentence-stems {

    margin-top: 2rem;
    border-top: 1px dotted black;
    padding-top: 1rem;

    &__title {
        font-size: 1.6rem;
        margin-bottom: 2rem;

        &--structure {
            margin-top: 1rem;
            margin-left: 2rem;
            padding: .6rem 1.2rem;
            background-color: var(--color-style-main);
            border-radius: 1rem;
        }
    }

    &__row {
        display: flex;
        font-size: 1.2rem;

        & > * {
            padding: .3rem .6rem;
        }
    }

    &__header {
        border-radius: 1rem 1rem 0 0;
        background-color: var(--color-style-dark);
        font-weight: bold;
    }

    &__possibility {
        background-color: var(--color-style-main);

        &:last-of-type {border-radius: 0 0 1rem 1rem;}
    }

    &__number, &__characters {
        text-align: center;
    }

    &__number {
        flex-basis: 2rem;
    }

    &__characters {
        flex: 0 0 10rem;
    }

    &__sentence {
        flex: 1;
        justify-self: flex-start;
    }
}

.sentences {

    display: flex;
    position: relative;
    min-height: 15rem;
    
    &__level {
        
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem 0 .5rem 0;
        
        &:first-of-type { border-radius: 1rem 0 0 1rem; }
        &:last-of-type { border-radius: 0 1rem 1rem 0; flex: 2; }

        &--base { 
            background-image: linear-gradient(to right, darken(#457b9d, 10%), lighten(#457b9d, 0%));
            flex: 0 0 5rem; 

            display: flex; 
            flex-direction: column;
            justify-content: center;

            &:hover {
                cursor: pointer;
            }
        }

        &--infobox {
            background-image: linear-gradient(to right, lighten(#457b9d, 10%) 10%, gray 30%, gray);
            position: relative;

            &-text {
                font-size: 3rem;
                line-height: 3.5rem;
                letter-spacing: .15rem;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
            }
        }
        &--0 { background-image: linear-gradient(to right, lighten(#457b9d, 0%), lighten(#457b9d, 10%)); }
        &--1 { background-image: linear-gradient(to right, lighten(#457b9d, 10%), lighten(#457b9d, 20%)); }
        &--2 { background-image: linear-gradient(to right, lighten(#457b9d, 20%), lighten(#457b9d, 30%)); }
        &--3 { background-image: linear-gradient(to right, lighten(#457b9d, 30%), lighten(#457b9d, 40%)); }
        &--4 { background-image: linear-gradient(to right, lighten(#457b9d, 40%), lighten(#457b9d, 50%)); }
        &--5 { background-image: linear-gradient(to right, lighten(#457b9d, 50%), lighten(#457b9d, 60%)); }
        &--6 { background-image: linear-gradient(to right, lighten(#457b9d, 60%), lighten(#457b9d, 70%)); }
        &--7 { background-image: linear-gradient(to right, lighten(#457b9d, 70%), lighten(#457b9d, 80%)); }
        &--8 { background-image: linear-gradient(to right, lighten(#457b9d, 80%), lighten(#457b9d, 90%)); }
    }

    &__memory {
        display: flex;
        flex-wrap: nowrap;
    }

    &__control-bar {
        display: flex;

        &--control {
            font-size: 1.4rem;
            transition: all .2s;
            border: .2rem transparent solid;
            padding: .7rem 2rem;
            box-shadow: 0 .2rem .4rem rgba(black, .4);
            background-color: var(--color-style-main);
            
            &:hover {
                &:not(:disabled) {
                    cursor: pointer;
                    border: .1rem white solid;
                    color: white;
                    background-color: var(--color-style-juxtapose);
                    box-shadow: 0 .4rem .8rem rgba(black, .6);
                }
            }

            &:first-of-type { border-radius: 1rem 0 0 1rem; }
            &:last-of-type { border-radius: 0 1rem 1rem 0; }
            
            &-selected { 
                border: .1rem white solid;
                color: white;
                background-color: var(--color-style-dark);
            }
        }
    }

    &__stem-phrase {
        background-color: var(--color-style-main);
        font-size: 1.4rem;
        letter-spacing: .1rem;
        padding: .5rem .5rem;
        margin: .3rem;
        border-radius: 1rem;
        transition: all .2s;

        display: flex;
        flex-direction: column;

        &--title {
            background-color: rgba(white, .4);
            border-radius: 1rem;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            overflow: none;
        }

        &--name {
            font-weight: bold;
            font-size: 1.4rem;
            padding-left: 1rem;
            width: 100%;
            white-space: nowrap;

            &:hover {
                cursor: text;
            }
        }

        &--controls {
            display: flex;
        }
        
        &--control {
            width: 2.4rem;
            padding: .1rem .6rem;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                filter: brightness(140%);
            }

            &-copy {
                background-color: cadetblue;
            }

            &-moveleft {
                background-color: crimson;
            }

            &-delete {
                background-color: orangered;
                border-radius: 1rem 0 0 1rem;
            }

            &-starter {
                font-size: 1.2rem;
                background-color: darken(rgb(188, 206, 23), 10%);
                
                &--selected {
                    background-color: lighten(rgb(188, 206, 23), 20%);
                }
            }

            &-next {
                background-color: green;
                border-radius: 0 1rem 1rem 0;
            }
            
        }

        &--reorder {
            display: flex;
            justify-content: space-between;
            padding: .3rem .5rem;
            
            & > * {
                transition: all .2s;
                padding: .3rem .5rem;
                border-radius: 1rem;
                &:hover {
                    cursor: pointer;
                    background-color: var(--color-style-dark);
                }
            }
        }
        
        &--add {
            font-weight: bold;
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 1rem;
            text-align: center;
            padding: .5rem;
            transition: all .2s;

            &:hover {
                cursor: pointer;
                color: white;
                background-color: var(--color-style-juxtapose);
            }
        }
        
        &--route {
            background-color: rgba(red, .4);
        }

        &--deselected {
            border: .1rem solid rgba(gray, .7); 
            color: rgba(gray, .7); 
        }

        &--hand {
            font-size: 3rem;
            margin-left: 1rem;
            margin-top: -1.3rem;
            padding-top: .6rem;
            animation: pointRight 1.5s ease-in-out infinite;    
        }

        &--sentence {
            font-style: italic;
            font-size: 1.3rem;
            margin: 0 .5rem;
            margin-top: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &:hover {
                cursor: text;
            }

            &--input {
                flex: 1;
                margin-left: .4rem;
            }

            &--delete { 
                background-color: orangered;
                padding: .3rem .6rem;
                border-radius: .6rem;
                text-align: center;

                &:hover {
                    filter: brightness(140%);
                    cursor: pointer;
                }
            }
        }

        &--select {
            padding: .5rem 1rem;
            border-radius: 1rem;
        }

        &--editable {
            &:hover {
                cursor: text;
            }
        }

        &:hover {
            background-color: var(--color-style-juxtapose);
        }

        &--tests {
            margin: .5rem;
            border-top: 1px dashed black;
        }

        &--input {
            width: 6rem;
            border-radius: .4rem;
            padding: .2rem .4rem;
            letter-spacing: .1rem;

            &--long {
                width: 16rem;
            }
        }

        &--incorrect-input {
            box-shadow: 0 0 .8rem rgba(red, .8);
            background-color: rgba(red, .3);
        }

        &--select {
            width: 10rem;
            border-radius: .4rem;
            padding: .2rem .4rem;
        }
    
        &--test {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            padding: .5rem 0 0 0;
    
            &--name {
                font-style: italic;
            }
    
            &--buttons {
                display: flex;
                margin-left: .3rem;

                & > * {
                    padding: .3rem .6rem;
                    border-radius: .6rem;
                    text-align: center;

                    &:hover {
                        filter: brightness(140%);
                        cursor: pointer;
                    }
                }
            }

            &--button {
                &:not(:last-of-type) {
                    margin-right: .2rem;
                }
            }

            &--delete { background-color: orangered; }
            &--help { background-color: rgb(81, 199, 81); }
            &--accept { background-color: green; }

            select {
                padding: .3rem .6rem;
                border-radius: .8rem;
            }
        }

        &--test-inputs {

            margin-left: auto;

            input {
                width: 6rem;
                border-radius: .4rem;
                padding: .2rem .4rem;
                letter-spacing: .1rem;
            }

            select {
                width: 6rem;
                border-radius: .4rem;
                padding: .2rem .4rem;
            }
        }
    }

    &__controls {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__control {
        
        &--checkbox {
            display: none;
        }

        &--checkbox:checked + &--label {
            &::before {
                content: "\2713";
                background-color: var(--color-style-dark);
            }
        }

        &--checkbox:not(:checked) + &--label {
            &::before {
                content: "\00D7";
                background-color: var(--color-style-juxtapose);
            }
        }

        &--label {
            font-size: 1.4rem;
            transition: all .2s;
            margin-left: -1.5rem;
            border-bottom: 1px dotted transparent;
            padding-bottom: .3rem;
            
            &:hover {
                cursor: pointer;
                border-bottom: 1px dotted black;
                
                &::before {
                    border-color: var(--color-style-juxtapose);
                    font-weight: bold;
                }
            }

            &::before {
                padding: 0 1rem;
                border: .2rem solid black;
                margin-right: 1rem;
                transition: all .2s;
            }

        }
    }

    &__buttons-bottom {
        display: flex;
        justify-content: space-between;
        margin: -.5rem;
        margin-top: .5rem;
        padding: .2rem .5rem;
        background-color: lighten(#457b9d, 30%);
        font-size: 1.2rem;
    }

    &__buttons-bottom {
        border-radius: 0 0 1rem 1rem;
        &--add-test, &--add-sentence {
            flex: 1;
            text-align: center;
            
            &:hover {
                cursor: pointer;
                background-color: lighten(#457b9d, 10%);
                color: var(--color-style-verydark);
            }
        }

        &--add {
            &-test { border-radius: .5rem .5rem 1rem .5rem; }
            &-sentence {border-radius: .5rem .5rem .5rem 1rem; }
        }
    }

    &__error {
        background-color: var(--color-style-juxtapose);
        border-radius: 1rem;
        padding: 1rem 2rem;
        border: .2rem solid white;
        transition: all .2s;
        margin-bottom: 1rem;
        font-size: 1.4rem;

        &:hover {
            cursor: pointer;
            filter: brightness(120%);
        }
    }
}